@page "/"
@using Buisness
@inject Buisness.Repository.IRepository.IRiskAssesmentPDFRepository PDFService
@using BlazorInputFile
@using DataAccess.Data
@inject IJSRuntime jsRuntime
@using System.IO
@inject NavigationManager NavigationManager
@using System.Web
@using Radzen
@using Radzen.Blazor

<div style="float:left; margin-right:5px;">
    <label>Number</label>
    <input type="number" @bind="@riskPdf.Number" />
    <label>Date</label>
    <input type="date" @bind="@riskPdf.Date" />
    <label>Value</label>
    <input type="number" @bind="@riskPdf.Value" />
</div>

<button class="btn btn-success" style="float:left; margin-right:5px;" @onclick="SaveRiskAssesment">Save</button>
@*<button class="btn btn-success" style="float:left; margin-right:5px;" @onclick="AddNew">Add New</button>*@
<br />
<br />
<div class="col-md-4 p-3" hidden="@HideProgressBar" id="ProgressBar">
    @*<RadzenCard>*@
        <h4 class="mb-4">File is being uploaded</h4>
        <Radzen.Blazor.RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"  />
    @*</RadzenCard>*@
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Value</th>
            <th>PDF Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var risk in Risks)
        {
            <tr>
                <td>@risk.Number</td>
                <td>@risk.Date.ToString("dd-MM-yyyy")</td>
                <td>@risk.Value</td>
                <td>@risk.PDFName</td>
                <td>
                    @if (risk.PDF == null)
                    {
                        @*<BlazorInputFile.InputFile accept=".pdf" OnChange="@(e => HandleFileSelected(e, @risk.Id))" />*@
                        <button class="btn btn-primary" onclick="document.getElementById('picker').click()">Choose PDF File</button>
                        <BlazorInputFile.InputFile id="picker" OnChange="@(e=> HandleFileSelected(e,@risk.Id))" accept=".pdf" hidden></BlazorInputFile.InputFile>
                    }
                    @if (risk.PDF != null)
                    {
                        <button class="btn btn-primary" @onclick="@(e=> DeletePDF(@risk))">Delete PDF</button>
                        <button class="btn btn-primary" @onclick="@(e=> SelectPDF(@risk))">View PDF</button>
                        <button class="btn btn-primary" @onclick="@(e=> DeleteItem(@risk))">Delete Item</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" @onclick="@(e=> DeleteItem(@risk))">Delete Item</button>
                    }

                </td>
            </tr>
        }
    </tbody>


</table>

<br />
@*@if (!string.IsNullOrEmpty(pdfContent))
    {*@
@*<embed src="@pdfContent" width="1300px" height="2100px" />*@
<iframe style="visibility: hidden" id="myFrame" width="1300px" height="900px" />
@*<object data="@placeholder" width="1300px." height="2100px" type="application/pdf"></object>*@
@*}*@


@*<div id="adobe-dc-view" style="height: 360px; width: 500px;"></div>*@




@code {
    RiskAssesmentPDF riskPdf = new RiskAssesmentPDF();
    List<RiskAssesmentPDF> Risks = new List<RiskAssesmentPDF>();
    string pdfName = "";
    string pdfContent = "";
    byte[] a;
    private bool HideProgressBar { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        getAllRiskAssesmentPDFS();

    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);

    }

    private void getAllRiskAssesmentPDFS()
    {
        Risks = PDFService.GetRiskAssesmentPDFs();
    }

    private void AddNew()
    {
        riskPdf = new RiskAssesmentPDF();
    }

    private void SaveRiskAssesment()
    {
        PDFService.Save(riskPdf);
        riskPdf = new RiskAssesmentPDF();
        StateHasChanged();
        getAllRiskAssesmentPDFS();
    }

    async void HandleFileSelected(IFileListEntry[] files, int riskAssesmentID)
    {
        HideProgressBar = false;
        StateHasChanged();
        var attach = await FileSender(files.FirstOrDefault());
        pdfName = files.FirstOrDefault().Name.ToString();
        PDFService.uploadRiskAssesmentPDF(riskAssesmentID, attach, pdfName);
        StateHasChanged();
        getAllRiskAssesmentPDFS();
        HideProgressBar = true;
        StateHasChanged();
    }

    public async Task<byte[]> FileSender(IFileListEntry file)
    {
        using (var ms = new System.IO.MemoryStream())
        {
            await file.Data.CopyToAsync(ms);
            return ms.ToArray();
        }

    }

    private async Task DeletePDF(RiskAssesmentPDF risk)
    {
        if (a == risk.PDF)
        {
            await jsRuntime.InvokeVoidAsync("HideIframeOnDelete");
        }
        PDFService.DeletePDF(risk.Id);
        StateHasChanged();
        getAllRiskAssesmentPDFS();
    }

    private async Task DeleteItem(RiskAssesmentPDF risk)
    {
        if (a == risk.PDF)
        {
            await jsRuntime.InvokeVoidAsync("HideIframeOnDelete");
        }
        await PDFService.DeleteObject(risk.Id);
        StateHasChanged();
        getAllRiskAssesmentPDFS();
    }


    //private void DownloadPDF(int riskID)
    //{
    //    var pdf = Risks.FirstOrDefault(x => x.Id == riskID);
    //    jsRuntime.InvokeVoidAsync("saveAsFile", pdf.PDFName, pdf.PDF);
    //    getAllRiskAssesmentPDFS();
    //}

    async void SelectPDF(RiskAssesmentPDF risk)
    {
        HideProgressBar = false;
        StateHasChanged();
        var data = risk.PDF;
        pdfContent = System.Convert.ToBase64String(data);
        StateHasChanged();
        a = risk.PDF;
        await jsRuntime.InvokeVoidAsync("base64ToArrayBuffer", pdfContent);
        HideProgressBar = true;
        StateHasChanged();
    }


}